* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* BODY */

  body {
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../fotos/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
}



body::-webkit-scrollbar{
  display: none;
}

.container {
  overflow-x:hidden
}

.flotante {
  display: scroll;
      position:fixed;
      bottom:10%;
      right: -20%;
      
}
.flecha-scroll {
  width: fit-content;
}



.imgFlecha {
  width: 10%;
  transition: width 0.5s;
}


.imgFlecha:hover {
  width: 15%;
}

  /* HEADER */
.navegacion {
    background-color: transparent;
    max-height: 10vh;
    border-radius: 52px 52px 52px 52px;
    color: white;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: space;

    }

    .menu {
        display: flex;
        justify-content: space-around;
        width: 40%;
        height: 10vh;
        align-items: center;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    .menu a:hover {
        cursor:cell;
        color: #5E306F;
    }

    .sigla{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    .sigla span {
        color: #5E306F;
        
    }

  /* MAIN */

.main {
    
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    
  }

  h1 {
    font-size: 3em;
    color: white;
    
  }
  .contenido {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
 
  .contenido span {
    
    color: #5E306F;
    text-shadow: 0.1em 0.1em 0.05em white !important;
  }

  .contenido p{
    text-align: center;
  }

  .mainTexto {
    text-shadow: 0.1em 0.1em 0.05em #333;
  }

  .boton {
    
    padding: 10px 20px;
    background-color: transparent;
    border: #5E306F solid;
    border-radius: 20px;
    
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px #ad66e7b0;
    -moz-box-shadow: 1px 3px 11px -5px #242c55;
    box-shadow: 1px 3px 11px -5px #242c55;
  }
  
  .boton:hover {
    background-color: #5E306F;
    box-shadow: none;
    color: white;
  }

  .main img {
    flex-basis: 40%;
    height: 100%;
    object-fit:contain;
    border-radius: 20%/10%;
  }

  /* QUIEN SOY */
  .aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    background-color: #5E306F;
    height: 100vh;
  }

  .aboutme img {
    width: 100%;
    grid-column: 1/5;
    height: 100vh;
  }

  .about-info {
    grid-column: 5/10;
    padding: 3em;
    background-color: #e2ddf6;
    margin-left: 30%;
  }

  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }

  .divVacio {
    height: 3px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 1em;
  }

  .about p {
    margin-bottom: 1em;
  }

  .sectionBoton {
    margin-top: 1em;
  }

    /* MOSTRAR IMAGEN*/
    
    #elementoImg {
      display: none;
    }

    #imgSkills{
      position: absolute;
      top: 113%;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 75vh;
      width: 50vw;
      animation: abrir 1s ease-in forwards;
    }

    @keyframes abrir {
      0%{
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  

    #botonSalir{
      position: absolute;
      top: 107%;
      left: 57%;
      right: 0;
      margin: 0 auto;
      height: 10vh;
      width: 5vw;
      transition: width 0.5s;
      animation: abrir 1s ease-in forwards;
    }

    #botonSalir:hover{
      width: 7vw;

    }

    #sinBoton{
      color: #5E306F;
      background-color: #5E306F;
      border: transparent;
    }

    #sinBoton:hover{
      cursor: pointer;
      width: 15%;
    }

    /* PORTAFOLIO*/

  .portfolio {
  color: #191c32;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.portfolio-heading {
  text-align: center;
  font-size: xx-large;
  margin-top: 5%;
}

  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 90vh; 
  width: 80vw;
}


.card {
  color: white;
  background-color: #5E306F;
  margin: 1em;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 2%;
}

.card:hover {
  background-color: gold;
}

#cardImg1 {
  background-image: url(../fotos/coming\ soon.png);
  background-size: cover;
  width: 100%;
  height: 35%;

}

#card1 {
  padding-left: 2.2%;
  padding-top: 5%;
}

#cardImg2 {
  background-image: url(../fotos/coming\ soon.png);
  background-size: cover;
  width: 100%;
  height: 35%;
  
}

#card2 {
  padding-left: 2.2%;
  padding-top: 5%;
}

#cardImg3 {
  background-image: url(../fotos/coming\ soon.png);
  background-size: cover;
  width: 100%;
  height: 35%;
}

#card3 {
  padding-left: 2.15%;
  padding-top: 5%;
}

.card__block{
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card a{
  text-decoration: none;
  color: white;
}

.card i {
  color: #fff;
  font-size: 2.5em;
}

.logoCard{
  display: flex;
  justify-content: center;
}

.card i:hover {
  color: black;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

    /* Contactar*/

.contact {

  background-color: #5E306F;
  height: 100vh;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor img{
    width: 40%;
    height: 100vh;
    object-fit: cover;
}

.contact-form {
background-color: #e2ddf6;
padding: 3%;
margin-right: 8%;
}

.contact h4 {
  font-size: 2rem;
}

h4 span {
  position:absolute;
  right:400;
  width:0;
  background: #e2ddf6;
  border-left: 1px solid #000;
  animation: escribir 5s steps(30) infinite alternate;
  
}

@keyframes escribir {
  from { width: 20.5% }
  to { width: 50; }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #5E306F;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #5E306F;
  color: #fff;
}

.contact button {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #20223d;
  background-color: transparent;
  border: #5E306F solid;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px #ad66e7b0;
  -moz-box-shadow: 1px 3px 11px -5px #242c55;
  box-shadow: 1px 3px 11px -5px #242c55;
}

  .contact button:hover {
    background-color: #5E306F;
    box-shadow: none;
    color: white;
  }

    /* PIE DE PAGINA*/

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 2em;

  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  } 

  .sotial-networks a {
    color: black;
  } 



