.bienvenido {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: #5E306F;
    text-align: center;
    padding-top: 5%;
    z-index: 200;
    overflow: hidden;
}



  @keyframes fondo {
    0%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOn {
    0%{
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fade {
    font-size: 3em;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em black !important;
    opacity: 0;
    animation: fadeOn 4s ease-in forwards;
  }

  .bienvenido.display-none {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: #5E306F;
    text-align: center;
    z-index: -10;
    overflow: hidden !important;
    line-height: 90vh;
    opacity: 0;
    animation: fondo 2s ease-in forwards;
  }

.emogy1 {
  margin-bottom: 10%;
}

.emogy2 {
  margin-top: 10%;
}
