@media only screen and (max-width: 900px) {
  
  /* Navegador */

  .menu {
    display: none;
    position: absolute;
    margin: 20px;
    left: 30%;
    align-items: center;
    top: 30%;
    margin: auto;
    font-size: 1.7em;
    transition: left 1s ;
    border: solid red 1px;
    background-color: red;
    height: 20%;
    z-index: 1;
}

.navbar {
  margin: 6%;
  width: -5%;
  border: 1px solid red;
}

.navegacion {
  border: solid 1px red;
  margin: -3%;
  width: -10vw;
}

  ul.nav-item {
    height: 0;
    overflow: hidden;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
  } 


  .nav-toggle{
    display: block;
    margin: 1;
    margin-right: 7px;
    background: none;
    border: none;
  }

  .navbar_visible {
    display: block;

  }

    /* FLECHA */


    /* MAIN */

.main {
  width: 100%;
  height: 96vh;
  flex-direction: column;

  justify-content: center;
  margin: auto;
 }



  h1 {
  font-size: 3em;
  color: white;
  
  }

  .contenido {
    width: 100%;
    gap: 1rem;
  }

  .main img {
    width: 60%;
    
  }
 
  .flotante {
    display: none;
  }

  .mainTexto {
    display: flex;
    gap: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  .aboutme {

  
  
  }
  .aboutme {
    height: 50vh;
  }
  
  .aboutme img{
    height: 30vh;
    
  }

  .about-info {
    height: 50vh;
  }

  .portfolio {
    height: 50vh;
  }

}