* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 300px;
  }
  
  /* BODY */

  body {
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(fotos/fondo.jfif);
    background-repeat: no-repeat;
    background-size: cover;

    
}


  /* HEADER */
.navegacion {
    background-color: transparent;
    height: 10vh;
    border-radius: 52px 52px 52px 52px;
    color: white;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: space;

    }

    .menu {
        display: flex;
        justify-content: space-around;
        width: 40%;
        height: 10vh;
        align-items: center;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    .menu a:hover {
        cursor:cell;
        color: black;
    }

    .sigla{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    .sigla span {
        color: RGB(106, 65, 116);
        
    }

  /* MAIN */

.main {
    margin: auto;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
    background-color: transparent;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 2%;
  }

  .contenido span {
    color: black;
    text-shadow: 0.1em 0.1em 0.05em white !important;
  }

  .contenido p{
    text-align: center;
  }

  .mainTexto {
    text-shadow: 0.1em 0.1em 0.05em #333;
  }

  .boton {
    margin-right: 0%;
    padding: 10px 20px;
    background-color: #6a4174;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px #ad66e7b0;
    -moz-box-shadow: 1px 3px 11px -5px #242c55;
    box-shadow: 1px 3px 11px -5px #242c55;
  }
  
  .boton:hover {
    background-color: #242c55;
    box-shadow: none;
  }

  .main img {
    border:  7px solid #6a4174;
    width: 300px;
    height: 520px;
    z-index: 1;
    border-radius: 20%/10%;
  }

  /* QUIEN SOY */
  .aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    background-color: #6a4174;
  }

  .about img {
    width: 100%;
    grid-column: 1/5;
  }

  .about-info {
    grid-column: 5/10;
    padding: 3em;
    background-color: #e2ddf6;
  }

  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }

  .divVacio {
    height: 3px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 1em;
  }

  .about p {
    margin-bottom: 1em;
  }

  .sectionBoton {
    margin-top: 1em;
  }

    /* PORTAFOLIO*/

  .portfolio,
  .contact-section {
  width: 100vw;
  color: #191c32;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #6a4174;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
  background-size: cover;
}