* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

  }
  
  /* BODY */

  body {
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(fotos/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;

    
}

.flotante {
  display:scroll;
      position:fixed;
      bottom:10%;
      right:-20%;
}

.imgFlecha {
  width: 10%;
}

.imgFlecha:hover {
  width: 15%;
}

  /* HEADER */
.navegacion {
    background-color: transparent;
    max-height: 10vh;
    border-radius: 52px 52px 52px 52px;
    color: white;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: space;

    }

    .menu {
        display: flex;
        justify-content: space-around;
        width: 40%;
        height: 10vh;
        align-items: center;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    .menu a:hover {
        cursor:cell;
        color: #5E306F;
    }

    .sigla{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    .sigla span {
        color: #5E306F;
        
    }

  /* MAIN */

.main {
    margin: auto;
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
    background-color: transparent;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 2%;
  }

  .contenido span {
    color: #5E306F;
    text-shadow: 0.1em 0.1em 0.05em white !important;
  }

  .contenido p{
    text-align: center;
  }

  .mainTexto {
    text-shadow: 0.1em 0.1em 0.05em #333;
  }

  .boton {
    margin-right: 0%;
    padding: 10px 20px;
    background-color: transparent;
    border: #5E306F solid;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px #ad66e7b0;
    -moz-box-shadow: 1px 3px 11px -5px #242c55;
    box-shadow: 1px 3px 11px -5px #242c55;
  }
  
  .boton:hover {
    background-color: #5E306F;
    box-shadow: none;
    color: white;
  }

  .main img {
    border:  7px solid #5E306F;
    width: 300px;
    height: 520px;
    z-index: 1;
    border-radius: 20%/10%;
  }

  /* QUIEN SOY */
  .aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    background-color: #5E306F;
    height: 100vh;
  }

  .aboutme img {
    width: 100%;
    grid-column: 1/5;
    height: 100vh;
  }

  .about-info {
    grid-column: 5/10;
    padding: 3em;
    background-color: #e2ddf6;
    margin-left: 30%;
  }

  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }

  .divVacio {
    height: 3px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 1em;
  }

  .about p {
    margin-bottom: 1em;
  }

  .sectionBoton {
    margin-top: 1em;
  }

    /* PORTAFOLIO*/

  .portfolio {
  color: #191c32;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.portfolio-heading {
  text-align: center;
  font-size: xx-large;
  margin-top: 5%;
}

  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 90vh; 
  width: 80vw;
}

.card {
  color: white;
  background-color: #5E306F;
  margin: 1em;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 2%;
}

.card:hover {
  background-color: gold;
}

#cardImg1 {
  background-image: url(fotos/html5.png);
  background-size: cover;
  width: 100%;
  height: 30%;

}

#card1 {
  padding-left: 2.2%;
  padding-top: 5%;
}

#cardImg2 {
  background-image: url(fotos/css3.png);
  background-size: cover;
  width: 100%;
  height: 30%;
  
}

#card2 {
  padding-left: 2.2%;
  padding-top: 5%;
}

#cardImg3 {
  background-image: url(fotos/java.png);
  background-size: cover;
  width: 100%;
  height: 35%;
}

#card3 {
  padding-left: 2.15%;
}

.card__block{
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__title {
  padding: 20px;

}

.card a {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  font-size: 2.5em;
  
}

.card a:hover {
  color: black;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

    /* Contactar*/

.contact {
  padding: ;
  background-color: #5E306F;
  height: 100vh;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor img{
  height: 100vh;
}

.contact-form {
background-color: #e2ddf6;
padding: 3%;
margin-right: 5%;
}

.contact h4 {
  font-size: 2rem;
}

.contact img {
  
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #5E306F;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #5E306F;
  color: #fff;
}



.contact button {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #20223d;
  background-color: transparent;
  border: #5E306F solid;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px #ad66e7b0;
  -moz-box-shadow: 1px 3px 11px -5px #242c55;
  box-shadow: 1px 3px 11px -5px #242c55;
}


  .contact button:hover {
    background-color: #5E306F;
    box-shadow: none;
    color: white;
  }

    /* PIE DE PAGINA*/

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 2em;

  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  }